{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% block head %}
{{ block.super }}
<style>
    label { margin-right: 10px; }
</style>
{% endblock %}

{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}
{% block content %}
  <p>{% blocktrans trimmed %}You are about to disable two-factor authentication. This
    weakens your account security, are you sure?{% endblocktrans %}</p>
  <form method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <button class="smaller button red next-button btn btn-danger mg-t-xs" style="color: white;"
            type="submit">{% trans "Disable" %}</button>
  </form>
{% endblock %}
