{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
<style>
    #id_setup-method input { width: unset; }
    {% if wizard.steps.current == 'validation' %}
      .sign_up { text-align: center }
      .center_table { max-width: 300px; }
      .center_table th{ text-align: right; padding-right: 10px; }
      .center_table input { width: unset; }
    {% endif %}

</style>
{% endblock %}

{% block title %}{% trans "Add Backup Phone" %}{% endblock %}
{% block content %}

  {% if wizard.steps.current == 'setup' %}
      <p>This number will only be used if your primary method of verification is not available.</p>
  {% elif wizard.steps.current == 'validation' %}
      <p>We sent a verification code to your phone. Please enter it here.</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    <input type="submit" value="" hidden />

    {% include "two_factor/_wizard_actions.html" %}
  </form>
{% endblock %}
